<template>
  <b-card @click.prevent="goToID(id)" no-body class="overflow-hidden" style="width: 50%; float: left;">
    <b-row no-gutters>
      <b-col md="6">
        <b-card-img :src="image_url" alt="Image" class="rounded-0"></b-card-img>
      </b-col>
      <b-col md="6">
        <b-card-body>
          <b-card-text>
            <h2>{{ title }}</h2>
            <h5>IMDB Rating:{{ rating }}</h5>
          </b-card-text>
          <h4>Watch Trailer: <a class="link" @click.prevent="open(yt)">Click me</a></h4>
        </b-card-body>
      </b-col>
    </b-row>
  </b-card>
</template>


<script>
export default {
  name: "movies",
  props: ["title", "image_url", "rating", "id", "yt"],
  methods: {
    async goToID(id) {
      this.$store.state.movie_id = id
      this.$router.push('/movie_download')
    },
    open(yt) {
      window.open(yt, '_blank');
    }
  }
};
</script>


<style scoped>
  .link{
    cursor: pointer;
    color: rgb(36, 40, 255);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  h2{
    font-weight: 900;
  }
</style>