<template>
    <div>
        <b-navbar type="light" variant="light">
            <b-nav-form @submit.prevent="search()">
                <b-form-input class="mr-sm-2" v-model="search_query" placeholder="Search"></b-form-input>
                <b-button variant="outline-success" class="my-2 my-sm-0" type="submit">Search</b-button>
            </b-nav-form>

            <b-form-select class="filter ml-2" @change="filter" v-model="selected" :options="options"></b-form-select>
        </b-navbar>
    </div>
</template>

<script>
export default {
    name: 'navbar',
    data() {
        return {
            search_query: '',
            selected: 'rating',
            options: [
                { value: 'rating', text: 'Rating' },
                { value: 'download_count', text: 'Download Count' },
                { value: 'like_count', text: 'Like Count' }
            ]
        }
    },
    methods: {
        async search() {
            this.$store.state.movie_page = 1
            this.$store.state.movie_name = this.search_query
            await this.$store.dispatch("search_movies_by_name", this.search_query)
            this.$router.push('/movie_searched')
        },
        async filter() {
            this.$store.state.movie_page = 1
            await this.$store.dispatch("filter_movies", this.selected)
        }
    }
}
</script>


<style scoped>
.filter{
    width: 20%;
}
</style>