<template>
  <div>
    <b-card no-body class="overflow-hidden" @click.prevent="goTo(url)">
      <b-row no-gutters>
        <b-col md="6">
          <b-card-img
            :src="image_url"
            alt="Image"
            class="rounded-0"
          ></b-card-img>
          <div v-if="author != undefined">
              <h4>Author: {{ author }}</h4>
          </div>
          <div v-else>
              <h4>Author: Unknown</h4>
          </div>
        </b-col>
        <b-col md="6">
          <b-card-body :title="title">
              <p>{{ description }}</p>
            <b-card-text>
              {{ content }}
            </b-card-text>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
export default {
    name: 'news',
    props: ['image_url', 'author', 'description', 'url', 'title', 'content'],
    methods: {
        goTo(url){
            window.open(url, '_blank').focus();
        }
    }
}
</script>

<style scoped>
.overflow-hidden{
    width: 90%;
    margin-left: 5%;
    margin-top: 14%;
    transform: translate(0%, -14%);
}
</style>