<template>
    <div class="conainer">
        <div class="child">
            <h1>{{ name }}</h1>
            <iframe width="329" height="200" :src="trailer"></iframe>
            <div v-for="link in links" :key="link.url">
                <div v-if="links.length < 5">
                    <button class="button" @click.prevent="download(link.url)">{{ link.type.toUpperCase() + " " +link.quality.toUpperCase() }}</button>
                    <h5 class="hide"> {{ link.size }} </h5>
                </div>
                <div v-else>
                    <div v-if="link.quality != '720p'">
                        <button class="button" @click.prevent="download(link.url)">{{ link.type.toUpperCase() + " " +link.quality.toUpperCase() }}</button>
                        <h5 class="hide"> {{ link.size }} </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'specificMovie',
    props: ['trailer', 'links', 'name'],
    methods: {
        download(url) {
            window.location.href = url
        }
    }
}
</script>

<style scoped>
    .container {
        align-items: center;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .button{
        background: rgb(0, 255, 0);
        border: none;
        border-radius: 10px;
        color: white;
        width: 200px;
        font-weight: 700;
        padding: 8px;
        font-size: 1em;
        margin: 5px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hide{
        margin: 0px;
        color: red;
        display: none;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .button:hover + .hide {
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>